body{
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.container-fluid{
    padding: 5% 0 ;
}

.row{
    padding: 5% 25% 0 ;
}


img{
    width: 70%;
}